#psy {
    height:700px;
    width:100%;
    display: flex;
    font-family: 'Poor Story', cursive;
}

#psy .img{
    background: url(../../img/psy/시연.jpg) no-repeat;
    width: 1em;
    height: 1em;
    overflow:hidden;
    margin: 0 auto;
    border-radius: 20px
}

#psy h1{
    display:inline-block;
    text-align: center;
    width: 100%;
    flex-direction: column;
    border:5px solid #eee;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 2rem
}

#psy .name{
    display: contents;
    text-align: center;
    text-indent: 10px;
    font-size: 3rem;
    font-style: large;
    color: palevioletred
}

#psy .category{
    display: flex;
    text-indent: 50px;
    /* text-align: left; */
    font-size: 2.5rem;
    font-style: medium;
    color: palevioletred
}